html,
body {
  margin: 0;
  padding: 10px;
  background: #eee;
  font-family: arial;
}

canvas {
  display: block;
}
#buttons-container {
  display: flex;
  justify-content: space-between;
}
#width-height {
  display: flex;
  gap: 1em;
  margin-top: 10px;
  margin-bottom: 5px;
}
#inputs-container {
  display: flex;
  flex-direction: column;
}
#array-preview {
  width: 240px;
  margin-top: 10px;
}
#master-container {
  display: flex;
  gap: 2em;
}
#font-preview {
  margin-top: 10px;
}
:hover #font-preview {
  cursor: crosshair;
}
input {
  width: 30px;
}
