html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
#buttons-container {
  display: flex;
  justify-content: space-between;
}
#inputs-container {
  display: flex;
  margin-bottom: 10px;
}
input {
  width: 50px;
}
